<html>
<head>
    <title>Post Deleted!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="css/blog.css"
</head>
<body>
<div class="col-md-12">
    <h1>Post Deleted!!</h1>
</div>
            <footer>
                <br>
                <a href="{{ 'admin/posts' | url }}">Posts list</a>
            </footer>
        </div>
    </div>
</div>
</body>
</html>

